/*
/ Backgrounds
*/

.bg-alpha{
  background-color: $color-alpha;
}

.bg-beta{
  background-color: $color-beta;
}

.bg-delta{
  background-color: $color-delta;
}

.bg-gamma{
  background-color: $color-gamma;
}

.bg-epsilon{
  background-color: $color-epsilon;
}

/*
/ Font Styles
*/

.font-p{
  font-family: $font-p;
}

.font-h{
  font-family: $font-h;
}

.color-alpha{
  color: $color-alpha
}

.color-beta{
  color: $color-beta;
}

.color-delta{
  color: $color-delta;
}

.color-gamma{
  color: $color-gamma;
}

.color-epsilon{
  color: $color-epsilon;
}

body{
  padding-top: 90px;
}

